section {
    width: 30px;
    font-family: 'Teko', sans-serif;
}

.blog {
    color: green;

}

.container {
    color: chocolate;

}

h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid green;
}